<% if admin_signed_in? && current_page?('/admin/hotels') %>
  	<tr>	
		<td><%= hotel.id %> </td>
		<td><%= hotel.title %></td>
		<td><%= hotel.stars %></td>
		<td><%= hotel.rate_avg %></td>
		<% if hotel.status == 'pending' %>
			<td><%= link_to 'approve', hotel_path(hotel, status: 'approved'), method: :put   %> / <%= link_to 'rejecte', hotel_path(hotel, status: 'rejected'), method: :put %></td>
		<% else %>
			<td></td>
		<% end %>
		<td><%= hotel.status %></td>

	</tr>	
  
<% else %>

	<li id="<%= hotel.id %>">
	  <span class="photo">
	  	<img src='<%= "#{hotel.photo_url}" %>' height='100' width='100'> 
	  </span>	
	  <span class="hotel">
	    <%= link_to hotel.title, hotel %>
	    <%= "*"*hotel.stars %>
	  </span>
	  <span class="content"><%= "Average of #{ pluralize(hotel.rates_count, "rate") }: #{ '%.1f' % hotel.rate_avg } / 5" %></span>
	</li>
<% end %>	